/* Modal, dropdown & navbar layering */

:root {
  --z-negative: -1;
  --z-elevate: 1;
  --z-dropdown: 10;
  --z-sticky: 100;
  --z-fixed: 200;
  --z-backdrop: 500;
  --z-modal: 1000;
  --z-toast: 2000;
  --z-tooltip: 3000;
}
