@import '../LoginForm/LoginForm.module.css';

.wizardContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}

.buttonActionRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

.backBtn {
  flex: 1;
}

.nextBtn {
  flex: 2;
}
